.container.home          
.container
  .row
    .span12    
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        %h2 Passwort zurücksetzen
        %p
          Mit welcher E-Mailadresse hast Du Dich registriert?  
        = devise_error_messages!
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "text-error"
        .control-group
          = f.label :email, :class => "control-label"
          .controls
            = f.email_field :email, :autofocus => true

        = f.submit "Passwort zurücksetzen", :class => "btn btn-large btn-landing"