/ ################ HEADER START ################
%header#top
  .container.home
    .row
      .span6
        %h1 Wie nehme ich gesund ab und halte mein Gewicht dauerhaft?        
        %p gesund Abnehmen leicht gemacht: wir erklären Dir Schritt für Schritt wie es funktioniert.
        %p
          = link_to "Registrieren und 14 Tage kostenlos testen", new_user_registration_path, :class => "btn btn-landing btn-large", :id => "more_infos_button_top"          
      #main-media.span6.margintop20
        #player      
        
        
/ ################ HEADER END ################
/ ################ MAIN CONTAINER START ################
.container
  / ################ FEATURES SECTION START ################
  %section#features
    .row
      .span6
        %h1 Vital Coaches
        %h3 interaktives online video coaching
        %p
          Bei
          %span Vital Coaches
          lernst Du Schritt für Schritt, wie gesunde Ernährung funktioniert. Wir haben unsere langjährige Erfahrung, die wir beim Abhalten von Ernährungskursen perfektioniert haben, in Video-Lektionen gepackt.
        %p
          Lerne noch heute auf einfachem Weg, wie Du Dich dauerhaft gesund ernährst. So erreichst Du Dein Traumgewicht und kannst es auch auf Dauer halten. Mit unseren verständlichen Video-Lektionen nehmen wir Dich an die Hand und erklären Dir Schritt für Schritt, wie Du Dein Wunschgewicht erreichen wirst.
      .span6
        = image_tag "person.png"              
    .row.margintop20
      .span4
        %h2
          %i.icon-briefcase
          einfache Lektionen
        %p Fundierte wissenschaftliche Erkenntnise, für Dich in einfachen Video-Lektionen aufbereitet. Unsere Experten erklären anhand von praktischen Beispielen, wie Du Deine Ernährung richtig umstellst - ohne komplizierte Fachausdrücke!
      / /span4
      .span4
        %h2
          %i.icon-bullhorn
          fundiert wissenschaftlich
        %p Die Ernährungsberatung basiert auf aktuellen wissenschaftlichen Erkenntnissen. Sie orientiert sich zudem an den Empfehlungen der Deutschen Gesellschaft für Ernährung.
      / /span4
      .span4
        %h2
          %i.icon-bar-chart
          von Experten
        %p Unsere Experten sind studierte Diplom-Ökotrophologen. Nach ihrem Studium haben sie bereits aktiv als Ernährungsberater gearbeitet, Ernährungs-Kurse gehalten und Abnehm-Willigen geholfen, ihren Weg erfolgreich zu gehen.
      / /span4
  / ################ FEATURES SECTION END ################
  %hr.line/
  / ################ TESTIMONIALS SECTION START ################
  %section#testimonials
    .row.center
      %h2
        Kundenstimmen
        %i.icon-thumbs-up
      .span3.margintop20
        = image_tag "person1.png"              
        %hr/
        %blockquote
          "Ich habe 15 Kilo abgenommen - ohne zu hungern! Dank VitalCoaches halte ich mein Gewicht nun auch."
        %cite
          Birgit
      .span3.margintop20
        = image_tag "person4.png"              
        %hr/
        %blockquote
          "Bisher dachte ich schon einges über Ernährung zu wissen. Aber was ich hier gelernt habe hat mir die Augen geöffnet. Dadurch konnte ich meine Ernährung so umstellen, dass ich wie von alleine 5 Kilo verloren haben."
        %cite
          Christian
      .span3.margintop20
        = image_tag "person5.png"              
        %hr/
        %blockquote
          "Während meiner Schwangerschaft habe ich ordentlich zugelegt. Nun wollte ich ich wieder auf mein bisheriges Gewicht zurück. Mit VitalCoaches habe ich es geschafft! Und so gesund, dass es der ganzen Familie gut tut."
        %cite
          Diana
      .span3.margintop20
        = image_tag "person2.png"
        %hr/
        %blockquote
          "Bei Diäten habe ich bisher zwar auch abgenommen, hatte danach aber immer den blöden JoJo-Effekt. Hier nicht! Es dauerte zwar eine wenig länger bis ich am Ziel war, aber nun halte ich seit langem mein Wunschgewicht. Mit der persönlichen Unterstüzung der Coaches konnte ich meine Ziele erreichen."
        %cite
          Claudia
  / ################ TESTIMONIALS  SECTION END ################
  %hr.line/
  / ################ SUPPORT SECTION START ################
  %section#support
    .row.center
      %h2 Wir unterstützen Deinen Weg zum Wunschgewicht.
      %p
        Nutze unsere
        %strong unterstützenden Hilfsmittel
        und
        %strong persönlichen Kontakt zu Experten
        um Deine Ziele zu erreichen.
      %br/
      .span4.margintop20
        .row.left
          .span1
            %i.icon-facetime-video.support-icon
          .span3
            %h3 Coaching-Videos
            %ul.unstyled
              %li
                %i.icon-ok
                voller Zugang zu allen Videos
              %li
                %i.icon-ok
                jederzeit und überall anschauen
              %li
                %i.icon-ok
                für PC, Tablet und Smartphone
      .span4.margintop20
        .row.left
          .span1
            %i.icon-phone.support-icon
          .span3
            %h3 Live-Coaching
            %ul.unstyled
              %li
                %i.icon-ok
                per Telefon
              %li
                %i.icon-ok
                immer für Dich erreichbar
              %li
                %i.icon-ok
                frage uns alles!
      .span4.margintop20
        .row.left
          .span1
            %i.icon-group.support-icon
          .span3
            %h3 Community
            %ul.unstyled
              %li
                %i.icon-ok
                Treffe Gleichgesinnte
              %li
                %i.icon-ok
                Quatschen, Spaß haben
              %li
                %i.icon-ok
                Sport-Treffen organisieren
      .span4.margintop40
        .row.left
          .span1
            %i.icon-comments.support-icon
          .span3
            %h3 Chat
            %ul.unstyled
              %li
                %i.icon-ok
                frage Deinen Coach
              %li
                %i.icon-ok
                täglich im Live-Chat
              %li
                %i.icon-ok
                fundierte Antworten auf alle Fragen
      .span4.margintop40
        .row.left
          .span1
            %i.icon-book.support-icon
          .span3
            %h3 
              = link_to "Ernährungstagebuch", diary_path
            %ul.unstyled
              %li
                %i.icon-ok
                führe Buch
              %li
                %i.icon-ok
                einfach Mahlzeiten eintragen
              %li
                %i.icon-ok
                den Kalorien-Überblick behalten
      .span4.margintop40
        .row.left
          .span1
            %i.icon-file.support-icon
          .span3
            %h3 Rezepte
            %ul.unstyled
              %li
                %i.icon-ok
                einfach nachkochen
              %li
                %i.icon-ok
                auf Deine Vorlieben angepasst
              %li
                %i.icon-ok
                lecker für die ganze Familie
  / ################ SUPPORT SECTION START ################
  %hr.line/
  / ################ SIGNUP SECTION START ################
  %section#signup
    .row.center
      .span12
        %h2
          Bereit loszulegen?
          %i.icon-hand-right
        %p
          Lerne jetzt Dein Wunschgewicht zu erreichen!
        = link_to "STARTE JETZT", new_user_registration_path, :class => "btn btn-landing btn-large", :id => "more_infos_button_bottom"        
  / ################ SIGNUP SECTION END ################
  / ################ BOTTOM SECTION START ################
  %section#bottom    
    %hr.line/
    %h2.icon-phone.center 
      %a{:href => "tel:+4972118036869"}
        +49 721 18036869
  / ################ BOTTOM SECTION END ################
  %section#hints
    .row.center
      .span12
        %p
          Image courtesy of photosthock / stockimages / David Castillo Dominici / FreeDigitalPhotos.net
- content_for :inline_scripts do
  = render "page/video_startpage"